html {
	height: 100%;
}

body {
	height: 100%;
	background-color: rgb(32, 31, 31);
	/*// background-color: #CCCCCC;
  	// background-color: #FFFFFF;*/
}

a.forgot-password {
	color: #FFFFFF;
}

.form-container {
	top: 30vh;
	background: #B3B3B3;
	padding: 32px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

.form-control {
	border-radius: 8px;
	width: 80%;
	margin: 2%;
	text-indent: 8%;
}

.btn {
	background-color: #444749;
	border-radius: 4px;
}

.position-absolute.new-user {
    top: 52px;
    transform: translate(50px , -16px);
    left: 0;
	color: #fff;
	width: 100%;
	text-align: left;
}

/* my css */

.position-absolute.user-position {
    top: 34px;
    left: 39px;
    transform: translate(10px , 10px);
    padding-left: 5px;
}

.position-absolute.lock-position {
    top: 88px;
    left: 45px;
    transform: translate(10px , 10px);
}

input[type="checkbox"]{
	width: 20px;
	height: 20px; 
}

.new-signup {
    width: 50%;
    margin: 0 auto;
    display: contents;
}

.w-10{
	width : 10%;
}
